@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url(/vendor/fonts/Caveat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: url(/vendor/fonts/Tajawal-Medium.ttf) format('truetype');
}

#container-pages {
    overflow: auto;
}

#sidebarTools {
    width: 350px;
}

#sidebarTools .list-item-add label:hover {
    background: #e8ebed;
    border: 1px solid #505050;
}

#sidebarTools .list-item-add label:active, #sidebarTools .list-item-add label.active, #sidebarTools .list-item-add .btn-check:active + .btn-outline-secondary, #sidebarTools .list-item-add .btn-check:checked + .btn-outline-secondary {
    background: #c9d1d8;
    border: 1px solid #000;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.075) !important;
}

#top_bar {
    z-index: 10000;
}

#modalFichier {
    z-index: 10001;
}

#input-text-signature:dir(ltr) {
    font-family: Caveat;
    font-size: 48px;
}

#input-text-signature:dir(rtl) {
    font-family: Tajawal;
    font-size: 48px;
}

#img-upload {
    max-width: 460px;
    max-height: 200px;
}

.btn-svg-list-suppression {
    top: 2px;
}

.btn-svg-list-suppression:dir(ltr) {
    right: 6px;
}

.btn-svg-list-suppression:dir(rtl) {
    left: 6px;
}

#color-picker {
    display: block; position: fixed; height:28px; width: 28px; border-radius: 24px; background: #000; top: 14px; right: 366px; border: 2px solid #fff; color: #fff; font-size: 10px; text-align: center; line-height: 20px; opacity: 0.25;
}

#color-picker:hover {
     opacity: 1;
}

#toolbox div {
    cursor: pointer;
    padding: 1px;
    display: inline-block;
    padding-left: .25rem;
    padding-right: .25rem;
}

#toolbox div + div {
    border-left: 1px solid #CCC;
}

#toolbox .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
}

.canvas-container .btn-drag, .canvas-container .btn-rotate, .canvas-container .btn-delete, .canvas-container .btn-select, .canvas-container .btn-download, .canvas-container .btn-restore, .canvas-container .btn-drag-here, .canvas-container .btn-drag-here_mobile, .canvas-container .btn-cancel {
    font-size: 30px;
    cursor: move;
    background: rgb(255,255,255,0.6);
}

.canvas-container .btn-drag-here, .canvas-container .btn-drag-here_mobile, .canvas-container .btn-cancel {
    cursor: pointer;
    z-index: 9999;
}

.canvas-container .btn-rotate, .canvas-container .btn-delete, .canvas-container .btn-select, .canvas-container .btn-download, .canvas-container .btn-restore, .canvas-container .btn-drag-here {
    cursor: pointer;
    font-size: 25px;
}

.canvas-container .btn-rotate:hover, .canvas-container .btn-delete:hover, .canvas-container .btn-select:hover, .canvas-container .btn-download:hover, .canvas-container .btn-restore:hover, .canvas-container .btn-drag:hover {
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.canvas-container .btn-cancel {
    font-size: 20px;
}

.border-transparent {
    border-color: transparent !important;
}

.delete-metadata {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 1.2rem;
    user-select: none;
}

.input-metadata > label {
    width: 110%;
}

.input-metadata:hover > .delete-metadata {
    display: block;
}

#page-metadata #container-main {
    width: 55%;
}

#page-metadata #sidebarTools {
    width: 45%;
}

#page-metadata #bottom_bar {
    z-index: 3;
}

@media (max-width: 1500px) {
    #page-metadata #container-main {
        width: 50%;
    }
    #page-metadata #sidebarTools {
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    #page-metadata #container-main {
        width: 100%;
    }
    #page-metadata #sidebarTools {
        display:none;
        width: 100%;
    }
}
@media (max-width: 480px) {
    .subtitle {
        font-size: .875em
    }
}

html.ltr .decalage-pdf-div {
    padding-right: 350px;
}

html.rtl .decalage-pdf-div {
    padding-left: 350px;
}

#container-btn-zoom {
    top: 6px;
}

html.ltr #container-btn-zoom {
    right: 368px;
}

html.rtl #container-btn-zoom {
    left: 357px;
}

html.ltr .file-list-checkbox {
    right: 10px;
}

html.rtl .file-list-checkbox {
    left: 10px;
}

.fullpage {
    min-height: calc(100dvh - 95px);
}

.clamp-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
