@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url(/vendor/fonts/Caveat-Regular.ttf) format('truetype');
}

#container-pages {
    overflow: auto;
}

#sidebarTools {
    width: 350px;
}

#sidebarTools .list-item-add label:hover {
    background: #e8ebed;
    border: 1px solid #505050;
}

#sidebarTools .list-item-add label:active, #sidebarTools .list-item-add label.active, #sidebarTools .list-item-add .btn-check:active + .btn-outline-secondary, #sidebarTools .list-item-add .btn-check:checked + .btn-outline-secondary {
    background: #c9d1d8;
    border: 1px solid #000;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.075) !important;
}

#input-text-signature {
    font-family: Caveat;
    font-size: 48px;
}

#img-upload {
    max-width: 460px;
    max-height: 200px;
}

.canvas-container .btn-drag, .canvas-container .btn-rotate, .canvas-container .btn-delete, .canvas-container .btn-select, .canvas-container .btn-download, .canvas-container .btn-restore, .canvas-container .btn-drag-here-left, .canvas-container .btn-drag-here-right, .canvas-container .btn-drag-here_mobile, .canvas-container .btn-cancel {
    font-size: 30px;
    cursor: move;
    background: rgb(255,255,255,0.6);
}

.canvas-container .btn-drag-here-left, .canvas-container .btn-drag-here-right, .canvas-container .btn-drag-here_mobile, .canvas-container .btn-cancel {
    cursor: pointer;
    z-index: 9999;
}

.canvas-container .btn-rotate, .canvas-container .btn-delete, .canvas-container .btn-select, .canvas-container .btn-download, .canvas-container .btn-restore, .canvas-container .btn-drag-here-left, .canvas-container .btn-drag-here-right {
    cursor: pointer;
    font-size: 25px;
}

.canvas-container .btn-rotate:hover, .canvas-container .btn-delete:hover, .canvas-container .btn-select:hover, .canvas-container .btn-download:hover, .canvas-container .btn-restore:hover, .canvas-container .btn-drag:hover {
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.canvas-container .btn-cancel {
    font-size: 20px;
}

.border-transparent {
    border-color: transparent !important;
}

.delete-metadata {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 1.2rem;
    user-select: none;
}

.input-metadata:hover > .delete-metadata {
    display: block;
}

@media (max-width: 480px) {
    .subtitle {
        font-size: .875em
    }
}

.decalage-pdf-div:dir(ltr) {
    padding-right: 350px;
}

.decalage-pdf-div:dir(rtl) {
    padding-left: 350px;
}

#container-btn-zoom {
    top: 6px;
}

#container-btn-zoom:dir(ltr) {
    right: 368px;
}

#container-btn-zoom:dir(rtl) {
    left: 357px;
}

.file-list-checkbox:dir(ltr) {
    right: 10px;
}

.file-list-checkbox:dir(rtl) {
    left: 10px;
}
