[globals]

; Path to which stored pdf to activate the mode of sharing a signature to several.
; To deactivate this mode, simply do not configure it or leave it empty
PDF_STORAGE_PATH=/path/to/folder

; Disable organization tab and routes
;DISABLE_ORGANIZATION=false

; Manage demo link pdf : true (by default, show with default link), false (hide), or custom link
;PDF_DEMO_LINK=true

; Metadata default fields
;METADATA_DEFAULT_FIELDS[metadata_key].type = "text"

;Declare your public domain here if you can't handle location rewriting through your reverse proxy.
;REVERSE_PROXY_URL=http://127.0.0.1:8080

; Encryption activation (need GPG is installed)
;PDF_STORAGE_ENCRYPTION=false

;NSS3 configuration (used to sign pdf with pdfsig)
;NSS3_DIRECTORY=/path/to/nss3
;NSS3_PASSWORD="my secret password"
;NSS3_NICK="certificate nick"

; Authorize these IP to use debug mode (separate IP adresses with space ' ')
;ADMIN_AUTHORIZED_IP=

; Enable the edition of local server pdf metadata
; PDF_LOCAL_PATH=/path/to/pdf/metadata/edition

; Custom options for the signature page
;[signature]

; Enable custom retention period for shared PDF
; This override the default retention periods
; Warning: Text on the right of the colon will be translated according to the .po files
;retention[+1 year]="for one year"
;retention[+6 months]="for six months"
;retention[+1 month]="for one month"
;retention[+1 week]="for one week"
;retention[+1 day]="for one day"
;retention[+1 hour]="for one hour"
