Source: ~#PKGNAME#~
Maintainer: ~#MAINTAINER#~
Section: php
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/~#VENDOR#~/~#PROJECT#~
Vcs-Git: https://github.com/~#VENDOR#~/~#PROJECT#~.git

Package: ~#PKGNAME#~
Provides: php-~#PROJECT#~
Architecture: all
Depends: php (>= 7.4.0), pdftk, librsvg2-bin, imagemagick, potrace, ghostscript, locales, ${misc:Depends}
Description: Outils de signature PDF en ligne libre et open-source
